{% extends 'base.html' %}
    {% block title %} Create Invoice {% endblock %}
{% block content %}

<div id="content-create-invoice">
    <div class="message">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
    <div class="form-body">
        <div class="form-content">
            <div class="form-header">
                <h4>Are you sure you want to delete this invoice?</h4>
                <p></p>
            </div>
            <div class="form-inputs">
                <form class="confirmation-row" action="" method="POST">
                    <div>
                        <button type="submit" name="confirmation" value="yes" class="btn btn-primary submit">Yes, delete</button>
                    </div>
                    <div>
                        <button type="submit" name="confirmation" value="no" class="btn btn-primary submit">No, don't delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}