{% extends 'base.html' %}
    {% block title %} Create Invoice {% endblock %}
{% block content %}

<div id="content-create-invoice">
    <div class="message">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
    <div class="form-body">
        <div class="form-content">
            <div class="form-header">
                <h4>Delete an item</h4>
                <p>Enter the id of an existing item</p>
            </div>
            <div class="form-inputs">
                <form action="" method="POST">
                    <p><input type="text" name="item_id" placeholder="Item ID"/></p>
                    <p><button type="submit" class="btn btn-primary submit">Delete item</button></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}