{% extends 'view_invoices.html' %}
{% block request_view %}
    <div class="overflow-hidden">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Invoice Id</th>
                <th>Client Id</th>
                <th>Invoice Total</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td><a href="{{url_for('view_invoice', invoice_id=row[0])}}">{{row[0]}}</a> </td>
                    <td>{{invoice[1]}}</td>
                    <td>{{invoice[4]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
{% endblock %}