html,body {
    height: 100%;
    background-color: #FFFCF2;
    color: #252422;
}

.topper {
    height: 55px;
    background-color: #403D39;
    width: 100%;
}

#panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}
a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

body {
    font-family: lato, sans-serif;
    margin: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #403D39;
    color: #D9D9D9;
    transition: all 0.3s;
}

#sidebar-header {
    padding: 10px;
    text-align: center;
    background: #252422;
    height: 55px;
    color: #EB5E28;
}
#sidebar-header p a {
    color: #EB5E28;
}

.group-sidebar {
    padding-top: 30px;
}

.sidebar-header {
    border-bottom: 1px solid #EB5E28;
    padding-bottom: 3px;
}

#sidebar ul li ul a {
    font-size: 1.1em;
    display: block;
    padding: 10px;
}

#sidebar ul li ul a:hover {
    color: #353535;
    background: #fff;
    text-decoration: none;
}

#sidebar ul {
    display: block;
    padding-left: 10px;
}

#sidebar ul li {
    padding-left: 20px;
}

/*
    CREATE INVOICE
*/
#content-create-invoice {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    position: absolute;
    margin: 0 auto;
    width: 60vh;
    background-color: #FFFCF2;
    border: 3px solid #CCC5B9;
    border-radius: 3px/6px;
    text-align: center;
    font-size: 1.5em;
    margin-top: -600px;
    padding: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-body {
    border: 3px solid #CCC5B9;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 30vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



#form-body-create-invoice {

}

#form-body-create-customer {
    margin-top: 150px;
}

#form-body-edit-client {
    margin-top: 50px;
}

.form-content {
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 440px;
    border-radius: 10px;
    text-align: left;
}

.form-content h4 {
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content p {
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
}

/* EDIT INVOICE ADD LINES*/
.add_invoice_line_row {
    display: flex;
    height: 50px;
    margin-bottom: 5px;
}

.add_invoice_line_row input {
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-start;
    margin-right: 40px;
    width: 30%;
}

#form-body-add-invoice-line {
    margin-top: 150px;
}

#form-body-add-invoice-line .line-header {
    margin-bottom: 0px;
    padding-bottom: 0px;

}
.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 1px solid CCC5B9;
    outline: 0;
    border-radius: 6px;
    background-color: #FFFCF2;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.btn-primary{
    background-color: #403D39;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #252422;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

input[type='radio']:after {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 115px;
    border-radius: 50%;
    position: relative;
    background-color: #FFFCF2;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -2px;
    left: 0px;
    position: relative;
    background-color: #403D39;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FFFCF2;
}
