html,body {
    height: 100%;
    background-color: #FFFCF2;
    color: #252422;
}



.top-nav {
    padding: 10px;
    height: 55px;
    background-color: #403D39;
    width: 100%;
}

.site-navigation ul {
  background: #403D39;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.site-navigation li {
    font-size: 1.2rem;
  color: #fff;
  background: #403D39;
  display: flex;
  float: left;
  width: 25%;
  position: relative;
  border-bottom: 1px solid #EB5E28;
  text-transform: uppercase;
  margin-right: 5px;
}

.site-navigation li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.site-navigation li:hover {
  @include transition(background, 0.2s);
  background: #52a6df;
  cursor: pointer;
}

.site-navigation ul li ul {
  display: block;
  background: #52a6df;
  visibility: hidden;
  float: left;
  min-width: 150px;
  position: absolute;
  transition: visibility 0.65s ease-in;
  margin-top:30px;
  left: 0;
  z-index: 999;
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
   visibility: visible;
}

.site-navigation ul li ul li {
  clear: both;
  padding: 5px 0 5px 18px;
  width: 100%;
}

.site-navigation ul li ul li:hover {
  background: #74b7e4;
}

#panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}
a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

body {
    font-family: lato, sans-serif;
    margin: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #403D39;
    color: #D9D9D9;
}

#sidebar-header {
    padding: 10px;
    text-align: center;
    background: #252422;
    height: 55px;
    color: #EB5E28;
}
#sidebar-header p a {
    color: #EB5E28;
}

.group-sidebar {
    padding-top: 30px;
}

.sidebar-header {
    border-bottom: 1px solid #EB5E28;
    padding-bottom: 3px;
}

#sidebar ul li ul a {
    font-size: 1.1em;
    display: block;
    padding: 10px;
}

#sidebar ul li ul a:hover {
    color: #353535;
    background: #fff;
    text-decoration: none;
}

#sidebar ul {
    display: block;
    padding-left: 10px;
}

#sidebar ul li {
    padding-left: 20px;
}

/*
    CREATE INVOICE
*/
#content-create-invoice {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    position: absolute;
    margin: 0 auto;
    width: 60vh;
    background-color: #FFFCF2;
    border: 3px solid #CCC5B9;
    border-radius: 3px/6px;
    text-align: center;
    font-size: 1.5em;
    margin-top: -600px;
    padding: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-body {
    border: 3px solid #CCC5B9;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 30vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



#form-body-create-invoice {

}

#form-body-create-customer {
    margin-top: 150px;
}

#form-body-edit-client {
    margin-top: 50px;
}

.form-content {
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 440px;
    border-radius: 10px;
    text-align: left;
}

.form-content h4 {
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content p {
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
}

/* EDIT INVOICE ADD LINES*/
.add_invoice_line_row {
    display: flex;
    height: 50px;
    margin-bottom: 5px;
}

.add_invoice_line_row input {
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-start;
    margin-right: 40px;
    width: 30%;
}

#form-body-add-invoice-line {
    margin-top: 150px;
}

#form-body-add-invoice-line .line-header {
    margin-bottom: 0px;
    padding-bottom: 0px;

}
.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 1px solid CCC5B9;
    outline: 0;
    border-radius: 6px;
    background-color: #FFFCF2;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.btn-primary{
    background-color: #403D39;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #252422;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

input[type='radio']:after {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 115px;
    border-radius: 50%;
    position: relative;
    background-color: #FFFCF2;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -2px;
    left: 0px;
    position: relative;
    background-color: #403D39;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FFFCF2;
}

.confirmation-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%
}

.confirmation-row button {
    margin: 20px;
    min-width: 150px;
    flex-grow: 1;
}

/* VIEWS */

.view {
    width: 100%;
    align-items: stretch;
    display: flex;
    justify-content: center;
    width: 70vh;
    height: 80vh;
    margin-top: 50px;
    border: 1px solid red;
    flex-grow: 1;
    max-height: 100vh;
    overflow: auto;
}

.view .page-content {
    min-width: 800px;
    min-height: 700px;
    height: 80vh;
    border: 1px solid blue;
    width: 70%;
    overflow: auto;
}

.view .page-content .button-bar {
    height: 50px;
    background-color: #CCC5B9;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.view .page-content .button-bar ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 0;
    padding: 0;
}

.view .page-content .button-bar li {
    font-size: 1.3rem;
    display: flex;
    width: 25%;
    height: 100%;
    position: relative;
    background: #403D39;
}

.view .page-content .button-bar li a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
}

.view .page-content .button-bar li a:hover {
    color: #353535;
    background: #fff;
    text-decoration: none;
}

.view .page-content .request-view {
    border: 3px solid green;
    height: 80%;
    overflow: scroll;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

#invoice_number_view {
    width: 100vh;
    border: none;
    box-shadow: none;
    position: absolute;
    margin-left: 100px;
}

#invoice_number_view .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#invoice_number_view input[type='text'] {
    width: 150px;
}

table a {
    color: black;
}

.not-exist {
    font-size: 2rem;
    display: block;
    text-align: center;
    padding-top: 10vh;
}

.view .view-client {
    overflow: scroll;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 300px;
    border: 1px solid grey;
    border-radius: 3px;
    text-align: left;
}
